name: innertube_dart_demo_app
description: A simple demo app for innertube_dart package
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

  # InnerTube Dart package
  innertube_dart:
    path: ../../

  # Audio player for streaming
  just_audio: ^0.9.40

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
